---
layout: default
---

<section id="content" class="bg-dark">
  <div class="cfp-heading">
    <h1 class="section-heading text-center text-white">Call for Papers {{site.year}}</h1>
    <h3 class="section-subheading text-center text-white">School of Cyber Science and Engineering, Sichuan University</h3>
  </div>
  <div class="cfp-list shuffle">
  {% assign pc = 0 %}
  {% capture prefix%}cfp/{{site.year}}{% endcapture %}
  {% for p in site.pages %}
    {% if p.path contains prefix %}
    {% assign pc = pc | plus: 1 %}
    {{ pc }}
    {% if p.final or site.stage == "submission" %}
    {% assign cprefix = "collapse-cfp" %}
    <div class="container">
      <div class="cfp-item text-white" id="{{p.shorttitle}}">
        <div class="cfp-meta">
            {% if p.only-for-homework %}
            <img class="ofh" src="assets/img/only-for-homework.png"/>
            {% endif %}
            <h3><a data-bs-toggle="collapse" href="#{{cprefix}}{{pc}}" class="link-light text-decoration-none" role="button" aria-expanded="false" aria-controls="{{cprefix}}{{pc}}">{{p.title | upcase}}</a></h3>
          <div class="meta-item text-white">
            <label>ORGANIZERS:</label>
            <ul>
            {% for person in p.organizers %}
              <li>{{person.name | upcase}}</li>
            {% endfor %}
            </ul>
            <label>CONFERENCE ID: {{pc}}</label>
          </div>
        </div>
        <div id="{{cprefix}}{{pc}}" class="collapse">
          <div class="cfp-content bg-secondary">
           <div class="container">
           <!-- <iframe seamless="seamless" src="{{p.url}}" description="{{p.shorttitle}}">
           </iframe> -->
           {{p.content | markdownify}}
           </div>

           <a class="colbtn bg-dark link-light text-decoration-none" href="#{{p.shorttitle}}">&#10548;</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
  {% endfor %}
  </div>

  <div class="cfp-heading section-subheading text-center text-white">
    <h5>CFP总数：{{ pc }}, 扫描二维码进入投票</h5>
    <br>
    <img style="max-width: 200px" src="assets/img/qrcode-{{site.year}}.png" />
  </div>
  <div class="cfp-heading"></div>
</section>
